/.idea
/.idea_modules
.DS_Store
test_data
staging_data
input
archive
error
.*\.orig
.*\.swp
input
archive
error
*/target/
target/
keys/
native
yamls/
.ensime
ensime-langserver.log
pc.stdout.log
.ensime_cache/

# ignore emacs stuffs
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile